<h1>About Page</h1>

<ul>
    <li> <a href="/"> Home </a></li>
    <li> <a href="/contact"> Contact </a></li>
</ul>
<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem, error. Vero labore cum, quod nam ratione rerum! Ea, minus, rem accusantium velit sint deleniti reprehenderit, impedit autem sed commodi tenetur.</p>
