

<h1>Home Page</h1>

<ul>
    <li> <a href="/contact"> Contact </a></li>
    <li> <a href="/about"> About </a></li>
</ul>
<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem, error. Vero labore cum, quod nam ratione rerum! Ea, minus, rem accusantium velit sint deleniti reprehenderit, impedit autem sed commodi tenetur.</p>

<img src="images/image1.jpg"> 